//Breakpoint-widths for:

//Most smartphones and iPhones
$screen-sm: 26.87em; //430px max

//Portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
$screen-md: 51.87em; //830px

//Big landscape tablets, laptops, and desktops
$screen-lg: 64em; //1024px

//Hi-res laptops and desktops
$screen-x_lg: 80em; //1280px


//small devices:
@mixin sm {
    @media only screen and (max-width: $screen-sm) {
        @content;
    }
}

//tablets:
@mixin md {
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-md)  {
        @content;
    }
}

//laptops and desktops
@mixin lg {
    @media only screen and (min-width: $screen-md) and (max-width: $screen-lg) {
        @content;
    }
}

//hi-res devices:
@mixin x_lg {
    @media only screen and (min-width: $screen-x_lg) {
        @content;
    }
}