//Color palette:
$aux-color-1: #f8a092;
$aux-color-2: #fedb15;
$aux-color-3: #b72500;
$aux-color-4: #cca048e0;
$aux-color-5: #454545ca;
$aux-color-6: #ff5d5d4c;

//Buttons' colors
$button-text-color: #840000;
$button-border-color: #810000dd;
$hover-color1: #3ff245;
$hover-color2: #d91212;


//Container's background
$background-container-color: #7e0000b9;
$background-container-color2: #0e010188;
$background-container-color3: #fefefe17;
$background-container-color4: #fefefe6a;

//Auxiliar colors
$white: #ffffff;
$black: #000000;