//Background images
$background-image: url("https://i.imgur.com/l5STesp.jpg");
$background-landing: url("https://i.imgur.com/mzT75bN.jpg");
$background-error: url("https://i.imgur.com/t9wkqo2.jpg");

